<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="enyim.com">
      <section name="memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching" />
    </sectionGroup>
  </configSections>
  <enyim.com>
    <memcached protocol="Binary">
      <servers>
        <add address="localhost" port="11211" />
      </servers>
    </memcached>
  </enyim.com>
  <appSettings>
    <add key="AWS_ACCESS_KEY" value="access key here" />
    <add key="AWS_SECRET_KEY" value="secret key here" />

  </appSettings>
</configuration>

