body
{
    font-size: .85em;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header,
footer,
nav,
section {
    display: block;
}

/* Styles for basic forms
-----------------------------------------------------------*/

fieldset 
{
    border:1px solid #ddd;
    padding:0 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;
}

legend 
{
    font-size:1.2em;
    font-weight: bold;
}

textarea 
{
    min-height: 75px;
}

.editor-label 
{
    font-family: Verdana, Arial, sans-serif;
    margin: 1em 0 0 0;
    font-weight: bold;
}

.editor-field 
{
    margin:0.5em 0 0 0;
}

.display-label 
{
    font-family: Verdana, Arial, sans-serif;
    margin: 1em 0 0 0;
    font-weight: bold;
}

.display-field 
{
    margin:0.5em 0 0 0;
}

.display-title p 
{
   font-size: 1.8em;
    color: gray;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

#searchSummary {
    font-size: 1.8em;
    color: gainsboro;
}

#recipeSearch {
    background-color: gray;
    color: whitesmoke;
    width: 100%;
    padding: 5px;
}

#recipeSearch input {
    font-family: Verdana, Arial, sans-serif;
    font-size: 1.1em;
}

#recipeSearchResults {
    margin-left: 10px;
    margin-top: 10px;
}

#recipeSearchResults a {
    font-family: Verdana, Arial, sans-serif;
    font-size: 1.6em;
}

#recipeCategories {
    background-color: whitesmoke;
    border-color: #dddddd;
    float: left;
    height: 100%;
    margin: 5px;
    width: 200px;
}
#categoryNames a 
{
    font-family: Verdana, Arial, sans-serif;
    font-size: 1.4em;
    text-decoration: none;
    color: gray;  
}

#categoryColumn {
    width: 200px;
}

#recipeCategories a {
    padding: 5px;
}

#recipeDetails {
    width: 100%;
    text-align: left; 
    margin-left: 10px;
    margin-top: 10px;   
}

#recipeDetails td {
    vertical-align: bottom;
}

#container {
    width: 100%;
}

#container td {
    text-align: left;
    vertical-align: top;
}

#recipeEditor {
    margin-left: 10px;
    margin-top: 10px;
}

#recipeEditor input {
    font-family: Verdana, Arial, sans-serif;
    font-size: 1.1em;
}

.editor-field input {
    width: 70%;
} 

#recipeEditor textarea {
    width: 70%;
    height: 250px;
     font-family: Verdana, Arial, sans-serif;
    font-size: 1.1em;
}
#recipeEditor select {
         font-family: Verdana, Arial, sans-serif;
    font-size: 1.1em;
}