body
{
    font-size: .85em;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header,
footer,
nav,
section {
    display: block;
}

/* Styles for basic forms
-----------------------------------------------------------*/

fieldset 
{
    border:1px solid #ddd;
    padding:0 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;
}

legend 
{
    font-size:1.2em;
    font-weight: bold;
}

textarea 
{
    min-height: 75px;
}

.editor-label 
{
    margin: 1em 0 0 0;
}

.editor-field 
{
    margin:0.5em 0 0 0;
}

.display-label 
{
    margin: 1em 0 0 0;
    font-weight: bold;
}

.display-field 
{
    margin:0.5em 0 0 0;
}

.display-title h2 
{
    position: inline;
    text-wrap: none;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

#recipeSearch {
    background-color: gray;
    color: whitesmoke;
    width: 100%;
    padding: 5px;
}

#recipeSearch input {
    font-family: Verdana, Arial, sans-serif;
    font-size: 1.1em;
}

#recipeCategories {
    font-family: Verdana, Arial, sans-serif;
    font-size: 1.1em;
    background-color: whitesmoke;
    border-color: #dddddd;
    float: left;
    height: 100%;
    margin: 5px;
}
#recipeCategories a {
    padding: 5px;
}

#recipeEditor {
    float: right;
    position: relative;
    display: inline;
}

#container {
    white-space:nowrap;
}