@model Domus.Web.UI.Models.Recipes.RecipeIndexViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="recipeSearch">
@using (@Html.BeginForm("Index", "Recipe"))
{
    @Html.TextBoxFor(m=>m.SearchText)
    <input type="submit" value="Search"/>
}
</div>

<div id="recipeCategories">
    @Html.Partial("Categories",Model.Categories)
</div>

<div id="recipeSearchResults">
   @Html.Partial("SearchResults",Model.SearchResults)
</div>